/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Dockerfile
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.vscode-server
/.bash_history
/.bash_logout
/.bashrc
/.lesshst
/.profile
/.sudo_as_admin_successful
/.wget-hsts
/.htaccess
/.cache
/.config
/.local
/.npm
/.ssh
/.nvm
/composer.phar
